#rod-casing
{
    visibility: visible;
    position: fixed;
    bottom: 50%;
    left:  calc(50% - 21px);
    z-index: auto;
}

#drill-bit
{
    visibility: visible;
    position: fixed;
    bottom: calc(50% - 22px);
    left:  calc(50% - 5px);
    z-index: auto;
}

.rod
{
    visibility: visible;
    position: fixed;
    bottom: calc(50% + 3px);
    left:  calc(50% - 16px);
    z-index: auto;
}

.destroyed-rod
{
    visibility: hidden;
}